body {
  background: rgb(20, 20, 20);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgb(20, 20, 20);
}

*::-webkit-scrollbar-thumb {
  background-color: #ffc107;
  border-radius: 20px;
}

/* General Styles */
.txt-title {
  font-size: 2.9rem;
  color: white;
}

.txt-desc {
  font-size: 1.2rem;
  color: rgb(143, 143, 143);
  text-align: justify;
}


/* Main Content */

.badges-container {
  display: flex;
  flex-direction: row;
  padding: 0;
}

/* Plans Content */

.card-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
}

/* About Us */

.icons-box .btn a {
  color:white;
  font-size: 2rem;
}

@media screen and (max-width:430px) {

  .txt-title {
    font-size: 25px;
  }

  .icons-box .btn a {
    font-size: 18px;
  }
  
  .badges-box {
    display: flex;
    justify-content: center;
  }
  
}